@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Saratov october region<br />
    2-sadovay<br />
    <abbr title="Phone">P:</abbr>
    8800-900-5-12-18
</address>

<address>
    <strong>Podderzka:</strong>   <a href="mailto:Support@example.com">water@water.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">waterMarket@water.com</a>
</address>